{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Tasks" "/" %}
    {% breadcrumb object.title "" %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <hr>
    <div>
        <a href="{% url 'tasks:edit' object.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'tasks:delete' object.id %}" class="btn btn-danger">Delete</a>
        {% for state in object.get_available_state_transitions %}
            <a href="{% url 'tasks:'|add:state.target object.id %}" class="btn btn-secondary">{{ state.target|title }}</a>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-9">
            <h1>{{ object.title }}</h1>
            <p>{{ object.description }}</p>
        </div>
        <div class="col-3">
            <div>Status: {{ object.state }}</div>
            <div>Creator: {{ object.creator }}</div>
            <div>Assigner: {{ object.assigner }}</div>
            <div>Tags: {{ object.tags_to_string }}</div>
        </div>
    </div>
{% endblock %}
