{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Tasks" "/" %}
    {% breadcrumb object.name "" %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <hr>
    <div>
        <a href="{% url 'tasks:edit' object.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'tasks:delete' object.id %}" class="btn btn-danger">Delete</a>
    </div>
    <hr>
    <div class="row">
        <div class="col-9">
            <h1>{{ object.name }}</h1>
            <p>{{ object.description }}</p>
        </div>
        <div class="col-3">
            <div>Status: {{ object.status }}</div>
            <div>Creator: {{ object.creator }}</div>
            <div>Assigned to: {{ object.assigned_to.username }}</div>
            <div>Tags: {{ object.tags_to_string }}</div>
        </div>
    </div>
{% endblock %}
