{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Task Status" "tasks:status-list" %}
    {% if object %}
        {% breadcrumb "Update" "" %}
    {% else %}
        {% breadcrumb "Create" "" %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        {% if object %}
            <button type="submit" class="btn btn-primary">Update status</button>
        {% else %}
            <button type="submit" class="btn btn-success">Create status</button>
        {% endif %}
    </form>
{% endblock %}
